<html>
<head>
	<title>Index</title>
</head>
<body>
  <% if (this.message) { %>
    <p><strong><%= message %></strong></p>
  <% } %>
	<div class="container login">
	    <% if (user) { %>
	      <a href="/logout">Logout</a> - <%= user.username %>
	    <% } else { %>
	      <a href="/login">Login</a> or <a href="/newuser">Register</a>
	    <% } %>
	  </div>
	<h1>oAuth Test System</h1>
	<p>This web app provides a oAuth environment in order to test Alexa's Smart Home Skill
	account linking features.</p>
</body>
</html>